html
	head
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
		link(rel='stylesheet', href='css/main.css', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Francois+One', rel='stylesheet')

	body
		div
		//- Hier maak ik de navbar
		nav
			.nav-wrapper
				a.brand-logo.left(href='/') Had 'ie gelijk?!
				ul#nav-mobile.right
					li
						a(href='/') PRAAT MET PIET
					li
						
		main.flow-text.center#mainid
			div.row
				div.s12.l12.m12
					div.loader
						h1 Jeetje wat spannend
						img(src='images/loading-white.gif')

				if score === 4
					.row.center#prediction
						.col.s12.m6.offset-m3
							.card
								.card-image
									img(src='images/piet4.jpg')
									span.card-title 
								.card-content
									p JAA! HET KLOPT

									p Gister voorspelde Piet alles goed!
									



				if score === 3
					.row.center#prediction
						.col.s12.m6.offset-m3
							.card
								.card-image
									img(src='images/piet1.jpg')
									span.card-title 
								.card-content

									p NOU.. OP HET RANDJE!
									p Gister voorspelde Piet:
									if result.compare_temp_day === false
										p De temperatuur overdag fout.
									if result.compare_temp_night === false
										p Én de temperatuur 's nacht fout.
									if result.compare_wind_direction === false
										p Én de windrichting fout.
									if result.compare_wind_speed === false
										p Én de windsnelheid fout.


				if score === 2
					.row.center#prediction
						.col.s12.m6.offset-m3
							.card
								.card-image
									img(src='images/piet2.jpg')
									span.card-title 
								.card-content

									p 50/50, DIT IS GEWOON SLECHT
									p Gister voorspelde Piet:
									if result.compare_temp_day === false
										p De temperatuur overdag fout.
									if result.compare_temp_night === false
										p Én de temperatuur 's nacht fout.
									if result.compare_wind_direction === false
										p Én de windrichting fout.
									if result.compare_wind_speed === false
										p Én de windsnelheid fout.


				if score === 1
					.row.center#prediction
						.col.s12.m6.offset-m3
							.card
								.card-image
									img(src='images/piet3.jpg')
									span.card-title 
								.card-content
									p DIT KAN ECHT NIET! WAT EEN GEK!
									p Gister voorspelde Piet:
									if result.compare_temp_day === false
										p De temperatuur overdag fout.
									if result.compare_temp_night === false
										p Én de temperatuur 's nacht fout.
									if result.compare_wind_direction === false
										p Én de windrichting fout.
									if result.compare_wind_speed === false
										p Én de windsnelheid fout.
									 


				if score === 0
					.row.center#prediction
						.col.s12.m6.offset-m3
							.card
								.card-image
									img(src='images/piet0.png')
									span.card-title 
								.card-content
									p JEZUS, PIET ZIT ER HE-LE-MAAL NAAST!!
									p Gister voorspelde Piet:
									if result.compare_temp_day === false
										p de temperatuur overdag fout.
									if result.compare_temp_night === false
										p én de temperatuur 's nacht fout.
									if result.compare_wind_direction === false
										p én de windrichting fout.
									if result.compare_wind_speed === false
										p én de windsnelheid fout.
									
	
		//- hier maak ik de footer
		footer.page-footer
			.container
				.row
					.col.l6.s12
						h5.white-text Met piet weet je het nooit 
						p.grey-text.text-lighten-4 Die vent doet echt maar wat
						p.grey-text.text-lighten-4 Maar wees een beetje lief voor hem
					
			.footer-copyright
				.container
					| © 2016 Build by Gissoe, lil D + big A
					a.grey-text.text-lighten-4.right(href='#!') mallepiet@hotmail.com

		
	script(src='js/jquery-3.1.1.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
	script(src='js/custom.js')