html
	head
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
		link(rel='stylesheet', href='css/main.css', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Francois+One', rel='stylesheet')

	body
		div
		//- Hier maak ik de navbar
		nav
			.nav-wrapper
				a.brand-logo.left(href='/') Had 'ie gelijk?!
				ul#nav-mobile.right
					li
						a(href='/') PIETJE
					li
						
		main.flow-text.center#mainid
			div.row
				div.s12.l12.m12
					h1 Jeetje wat spannend
			//- hier weergeef ik het resultaat (werkt nog niet)
			//- if (false)		
				.row.center
					.col.s12.m6.offset-m3
						.card
							.card-image
								img(src='images/fout.png')
								span.card-title 
							.card-content
								p NEE! WEER MIS
								p Gister voorspelde piet x en y maar het is z en k geworden
			//- else (true) 
				.row.center
				.col.s12.m6.offset-m3
					.card
						.card-image
							img(src='images/goed.png')
							span.card-title 
						.card-content
							p JAA! HET KLOPT
							p Gister voorspelde hij x en y en het is ook waar!
							
						

		
		//- hier maak ik de footer
		footer.page-footer
			.container
				.row
					.col.l6.s12
						h5.white-text Met piet weet je het nooit 
						p.grey-text.text-lighten-4 Die vent doet echt maar wat
						p.grey-text.text-lighten-4 Maar wees een beetje lief voor hem
					
			.footer-copyright
				.container
					| © 2016 Build by Gissoe, lil D + big A
					a.grey-text.text-lighten-4.right(href='#!') mallepiet@hotmail.com

		
	script(src='js/jquery-3.1.1.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')