$maincolor: 			#ce160a;
$mainfont: 				'Francois One', sans-serif;
$textcolorHeaderFooter:	 white;


body {
	display: flex;
	min-height : 100vh; 
	flex-direction: column;
	font-family: $mainfont
}

#mainid {
	background: url(/images/nlb.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}


nav {
	background-color: $maincolor;
	.brand-logo{
		color: $textcolorHeaderFooter;
	}
}


footer.page-footer {
	background-color : $maincolor;
	color : $textcolorHeaderFooter;
	margin-top: 0px;
}

main { 
	flex: 1 0 auto;
	color: $maincolor;
	text-align: center;
}

#prediction {
	display: none;
}







